Battlestar/bin/Debug/Battlestar.dll
Battlestar/bin/Debug/Battlestar.pdb
Battlestar/bin/Debug/MonoGame.Framework.dll
Battlestar/bin/Debug/MonoGame.Framework.xml
Battlestar/bin/Debug/Screen.dll
Battlestar/bin/Debug/Screen.pdb
Battlestar/bin/Debug/SharpDX.Direct2D1.dll
Battlestar/bin/Debug/SharpDX.Direct2D1.xml
Battlestar/bin/Debug/SharpDX.Direct3D11.dll
Battlestar/bin/Debug/SharpDX.Direct3D11.xml
Battlestar/bin/Debug/SharpDX.dll
Battlestar/bin/Debug/SharpDX.DXGI.dll
Battlestar/bin/Debug/SharpDX.DXGI.xml
Battlestar/bin/Debug/SharpDX.MediaFoundation.dll
Battlestar/bin/Debug/SharpDX.MediaFoundation.xml
Battlestar/bin/Debug/SharpDX.XAudio2.dll
Battlestar/bin/Debug/SharpDX.XAudio2.xml
Battlestar/bin/Debug/SharpDX.XInput.dll
Battlestar/bin/Debug/SharpDX.XInput.xml
Battlestar/bin/Debug/SharpDX.xml
Battlestar/obj/Debug/Battlestar.csproj.FileListAbsolute.txt
Battlestar/obj/Debug/Battlestar.csprojResolveAssemblyReference.cache
Battlestar/obj/Debug/Battlestar.dll
Battlestar/obj/Debug/Battlestar.pdb
Battlestar/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Battlestar/obj/Debug/layout.resfiles.intermediate
Battlestar/obj/Debug/pri.resfiles.intermediate
Battlestar/obj/Debug/priconfig.xml.intermediate
Battlestar/obj/Debug/resources.resfiles.intermediate
BattlestarInvader/BattlestarInvader.csproj.user
BattlestarInvader/bin/Windows8/Debug/AppX/AppxManifest.xml
BattlestarInvader/bin/Windows8/Debug/AppX/Battlestar.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Battlestar.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/BattlestarInvader.exe
BattlestarInvader/bin/Windows8/Debug/AppX/BattlestarInvader.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-3017973248-2730601125-1871870121-1001.pckgdep
BattlestarInvader/bin/Windows8/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-3471836201-2738584777-3656666701-1002.pckgdep
BattlestarInvader/bin/Windows8/Debug/AppX/MonoGame.Framework.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Screen.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Screen.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.Direct2D1.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.Direct3D11.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.DXGI.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.MediaFoundation.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.XAudio2.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.XInput.dll
BattlestarInvader/bin/Windows8/Debug/AppX/vs.appxrecipe
BattlestarInvader/bin/Windows8/Debug/AppxManifest.xml
BattlestarInvader/bin/Windows8/Debug/Battlestar.dll
BattlestarInvader/bin/Windows8/Debug/Battlestar.pdb
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.build.appxrecipe
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.exe
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.pdb
BattlestarInvader/bin/Windows8/Debug/MonoGame.Framework.dll
BattlestarInvader/bin/Windows8/Debug/MonoGame.Framework.xml
BattlestarInvader/bin/Windows8/Debug/Screen.dll
BattlestarInvader/bin/Windows8/Debug/Screen.pdb
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct2D1.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct2D1.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct3D11.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct3D11.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.DXGI.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.DXGI.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.MediaFoundation.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.MediaFoundation.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.XAudio2.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.XAudio2.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.XInput.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.XInput.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.xml
BattlestarInvader/obj/Debug/App.g.cs
BattlestarInvader/obj/Debug/App.g.i.cs
BattlestarInvader/obj/Debug/BattlestarInvader.csproj.FileListAbsolute.txt
BattlestarInvader/obj/Debug/BattlestarInvader.csproj.GenerateResource.Cache
BattlestarInvader/obj/Debug/BattlestarInvader.csprojResolveAssemblyReference.cache
BattlestarInvader/obj/Debug/BattlestarInvader.exe
BattlestarInvader/obj/Debug/BattlestarInvader.pdb
BattlestarInvader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BattlestarInvader/obj/Debug/GamePage.g.cs
BattlestarInvader/obj/Debug/GamePage.g.i.cs
BattlestarInvader/obj/Debug/intermediatexaml/BattlestarInvader.exe
BattlestarInvader/obj/Debug/intermediatexaml/BattlestarInvader.pdb
BattlestarInvader/obj/Debug/pri.resfiles
BattlestarInvader/obj/Debug/pri.resfiles.intermediate
BattlestarInvader/obj/Debug/ProjectArchitectures.txt
BattlestarInvader/obj/Debug/SharpDX/Resources.resfiles
BattlestarInvader/obj/Debug/SharpDX/Resources.resfiles.intermediate
Screen/bin/Debug/MonoGame.Framework.dll
Screen/bin/Debug/MonoGame.Framework.xml
Screen/bin/Debug/Screen.dll
Screen/bin/Debug/Screen.pdb
Screen/bin/Debug/SharpDX.Direct2D1.dll
Screen/bin/Debug/SharpDX.Direct2D1.xml
Screen/bin/Debug/SharpDX.Direct3D11.dll
Screen/bin/Debug/SharpDX.Direct3D11.xml
Screen/bin/Debug/SharpDX.dll
Screen/bin/Debug/SharpDX.DXGI.dll
Screen/bin/Debug/SharpDX.DXGI.xml
Screen/bin/Debug/SharpDX.MediaFoundation.dll
Screen/bin/Debug/SharpDX.MediaFoundation.xml
Screen/bin/Debug/SharpDX.XAudio2.dll
Screen/bin/Debug/SharpDX.XAudio2.xml
Screen/bin/Debug/SharpDX.XInput.dll
Screen/bin/Debug/SharpDX.XInput.xml
Screen/bin/Debug/SharpDX.xml
Screen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Screen/obj/Debug/layout.resfiles.intermediate
Screen/obj/Debug/pri.resfiles.intermediate
Screen/obj/Debug/priconfig.xml.intermediate
Screen/obj/Debug/resources.resfiles.intermediate
Screen/obj/Debug/Screen.csproj.FileListAbsolute.txt
Screen/obj/Debug/Screen.csprojResolveAssemblyReference.cache
Screen/obj/Debug/Screen.dll
Screen/obj/Debug/Screen.pdb
Battlestar/bin/Debug/Battlestar.dll
Battlestar/bin/Debug/Battlestar.pdb
Battlestar/bin/Debug/Battlestar.pri
Battlestar/bin/Debug/MonoGame.Framework.dll
Battlestar/bin/Debug/MonoGame.Framework.xml
Battlestar/bin/Debug/Screen.dll
Battlestar/bin/Debug/Screen.pdb
Battlestar/bin/Debug/Screen.pri
Battlestar/bin/Debug/SharpDX.Direct2D1.dll
Battlestar/bin/Debug/SharpDX.Direct2D1.xml
Battlestar/bin/Debug/SharpDX.Direct3D11.dll
Battlestar/bin/Debug/SharpDX.Direct3D11.xml
Battlestar/bin/Debug/SharpDX.dll
Battlestar/bin/Debug/SharpDX.DXGI.dll
Battlestar/bin/Debug/SharpDX.DXGI.xml
Battlestar/bin/Debug/SharpDX.MediaFoundation.dll
Battlestar/bin/Debug/SharpDX.MediaFoundation.xml
Battlestar/bin/Debug/SharpDX.XAudio2.dll
Battlestar/bin/Debug/SharpDX.XAudio2.xml
Battlestar/bin/Debug/SharpDX.XInput.dll
Battlestar/bin/Debug/SharpDX.XInput.xml
Battlestar/bin/Debug/SharpDX.xml
Battlestar/obj/Debug/Battlestar.csproj.FileListAbsolute.txt
Battlestar/obj/Debug/Battlestar.csprojResolveAssemblyReference.cache
Battlestar/obj/Debug/Battlestar.dll
Battlestar/obj/Debug/Battlestar.pdb
Battlestar/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Battlestar/obj/Debug/layout.resfiles.intermediate
Battlestar/obj/Debug/pri.resfiles.intermediate
Battlestar/obj/Debug/priconfig.xml.intermediate
Battlestar/obj/Debug/resources.resfiles.intermediate
BattlestarInvader/bin/Windows8/Debug/App.xaml
BattlestarInvader/bin/Windows8/Debug/AppX/App.xaml
BattlestarInvader/bin/Windows8/Debug/AppX/AppxManifest.xml
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/Logo.png
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/SmallLogo.png
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/SplashScreen.png
BattlestarInvader/bin/Windows8/Debug/AppX/Assets/StoreLogo.png
BattlestarInvader/bin/Windows8/Debug/AppX/Battlestar.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Battlestar.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/BattlestarInvader.exe
BattlestarInvader/bin/Windows8/Debug/AppX/BattlestarInvader.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/Common/StandardStyles.xaml
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Fonts/Pericles14.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Fonts/Pericles8.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/battlestar.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/star.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/turret.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/Content/Graphix/viper.xnb
BattlestarInvader/bin/Windows8/Debug/AppX/GamePage.xaml
BattlestarInvader/bin/Windows8/Debug/AppX/microsoft.system.package.metadata/S-1-5-21-3017973248-2730601125-1871870121-1001.pckgdep
BattlestarInvader/bin/Windows8/Debug/AppX/MonoGame.Framework.dll
BattlestarInvader/bin/Windows8/Debug/AppX/resources.pri
BattlestarInvader/bin/Windows8/Debug/AppX/Screen.dll
BattlestarInvader/bin/Windows8/Debug/AppX/Screen.pdb
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.Direct2D1.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.Direct3D11.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.DXGI.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.MediaFoundation.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.XAudio2.dll
BattlestarInvader/bin/Windows8/Debug/AppX/SharpDX.XInput.dll
BattlestarInvader/bin/Windows8/Debug/AppX/vs.appxrecipe
BattlestarInvader/bin/Windows8/Debug/AppxManifest.xml
BattlestarInvader/bin/Windows8/Debug/Battlestar.dll
BattlestarInvader/bin/Windows8/Debug/Battlestar.pdb
BattlestarInvader/bin/Windows8/Debug/Battlestar.pri
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.build.appxrecipe
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.exe
BattlestarInvader/bin/Windows8/Debug/BattlestarInvader.pdb
BattlestarInvader/bin/Windows8/Debug/Common/StandardStyles.xaml
BattlestarInvader/bin/Windows8/Debug/GamePage.xaml
BattlestarInvader/bin/Windows8/Debug/MonoGame.Framework.dll
BattlestarInvader/bin/Windows8/Debug/MonoGame.Framework.xml
BattlestarInvader/bin/Windows8/Debug/resources.pri
BattlestarInvader/bin/Windows8/Debug/Screen.dll
BattlestarInvader/bin/Windows8/Debug/Screen.pdb
BattlestarInvader/bin/Windows8/Debug/Screen.pri
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct2D1.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct2D1.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct3D11.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.Direct3D11.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.DXGI.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.DXGI.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.MediaFoundation.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.MediaFoundation.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.XAudio2.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.XAudio2.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.XInput.dll
BattlestarInvader/bin/Windows8/Debug/SharpDX.XInput.xml
BattlestarInvader/bin/Windows8/Debug/SharpDX.xml
BattlestarInvader/obj/Debug/App.g.cs
BattlestarInvader/obj/Debug/App.g.i.cs
BattlestarInvader/obj/Debug/BattlestarInvader.csproj.FileListAbsolute.txt
BattlestarInvader/obj/Debug/BattlestarInvader.csproj.GenerateResource.Cache
BattlestarInvader/obj/Debug/BattlestarInvader.csprojResolveAssemblyReference.cache
BattlestarInvader/obj/Debug/BattlestarInvader.exe
BattlestarInvader/obj/Debug/BattlestarInvader.pdb
BattlestarInvader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BattlestarInvader/obj/Debug/GamePage.g.cs
BattlestarInvader/obj/Debug/GamePage.g.i.cs
BattlestarInvader/obj/Debug/intermediatexaml/BattlestarInvader.exe
BattlestarInvader/obj/Debug/intermediatexaml/BattlestarInvader.pdb
BattlestarInvader/obj/Debug/pri.resfiles
BattlestarInvader/obj/Debug/pri.resfiles.intermediate
BattlestarInvader/obj/Debug/ProjectArchitectures.txt
BattlestarInvader/obj/Debug/SharpDX/Resources.resfiles
BattlestarInvader/obj/Debug/SharpDX/Resources.resfiles.intermediate
Screen/bin/Debug/MonoGame.Framework.dll
Screen/bin/Debug/MonoGame.Framework.xml
Screen/bin/Debug/Screen.dll
Screen/bin/Debug/Screen.pdb
Screen/bin/Debug/Screen.pri
Screen/bin/Debug/SharpDX.Direct2D1.dll
Screen/bin/Debug/SharpDX.Direct2D1.xml
Screen/bin/Debug/SharpDX.Direct3D11.dll
Screen/bin/Debug/SharpDX.Direct3D11.xml
Screen/bin/Debug/SharpDX.dll
Screen/bin/Debug/SharpDX.DXGI.dll
Screen/bin/Debug/SharpDX.DXGI.xml
Screen/bin/Debug/SharpDX.MediaFoundation.dll
Screen/bin/Debug/SharpDX.MediaFoundation.xml
Screen/bin/Debug/SharpDX.XAudio2.dll
Screen/bin/Debug/SharpDX.XAudio2.xml
Screen/bin/Debug/SharpDX.XInput.dll
Screen/bin/Debug/SharpDX.XInput.xml
Screen/bin/Debug/SharpDX.xml
Screen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Screen/obj/Debug/layout.resfiles.intermediate
Screen/obj/Debug/pri.resfiles.intermediate
Screen/obj/Debug/priconfig.xml.intermediate
Screen/obj/Debug/resources.resfiles.intermediate
Screen/obj/Debug/Screen.csproj.FileListAbsolute.txt
Screen/obj/Debug/Screen.csprojResolveAssemblyReference.cache
Screen/obj/Debug/Screen.dll
Screen/obj/Debug/Screen.pdb
